
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
  
.material-symbols-outlined {
  background-color: pink;
  width: 60px;
  height: 60px;
  top: 8px;
  right: 10px;
  border: 20px;
  margin-top: 6px;
}

nav.menu-link{
   flex-direction: column;
    margin-right: 20px;
    background-color: rgb(249, 234, 243);
    position:absolute;
    margin-bottom: right;
    left: 0px;
    top: 60px;
    width: 100%;
    padding: 20px 0;
}


h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-style: italic;
    color:rgb(240, 245, 245);
    text-shadow: 2px 2px 5px rgb(249, 13, 194);
}


div{
    background-color:rgb(88, 3, 88) ;
    font-display:inline flex ;
    background-size: 45px;

    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-style: italic;
    color:rgb(149, 26, 51);
    text-shadow: 2px 2px 5px rgb(234, 163, 163);
    padding: 30px;
    margin-left: 50px;
}

ol{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: normal;
    color:rgb(249, 23, 159);
text-shadow: 2px 2px 3px rgb(249, 244, 253)
}


li{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: normal;
    color:rgb(249, 23, 159);
text-shadow: 2px 2px 5px rgb(249, 244, 253);
}

.menu{
    background-color: rgb(216, 15, 242);
    display: inline-flex;
    position: sticky;
    top:0px;
}

.menu a{
    text-decoration: none;
    color:rgb(241, 255, 240);
    padding: 0 20px;
}

.menu a:hover{
background-color: rgb(246, 17, 185);
color:rgba(129, 4, 56, 0.97);
}

.menu a.active{
    background-color: rgb(246, 17, 185);
color:rgba(129, 4, 56, 0.97);
}


.class{
    background-color:rgb(7, 67, 246);
    display: inline-flex;
    text-size-adjust:40px;
    padding: 30;
    
}
.class a{
    text-decoration: none;
    font-size: 60px;
    color:rgba(210, 17, 248, 0.97);
    background-color: rgb(238, 150, 225);
    padding:0 40px 0px 40px;
    margin: 0px;
    
}


.class a:hover{
background-color: rgb(246, 15, 238); 
color:rgba(236, 142, 222, 0.97);
}



.copyrght{
    background-color: rgb(247, 153, 214);
    color:rgba(200, 10, 200, 0.794);

}

.copyright{
    text-decoration: none;
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color:rgb(71, 3, 87);

}


